<aside class="col side-navbar temp">
    <%= link_to root_path, class: "d-flex align-items-center mb-3 py-1 rounded-circle", style: 'width: fit-content;' do%>
        <span class="me-3"><%= image_tag "twitter.png", style:"height: 25px;position: relative;bottom: 2px; left: 8px"%></span>
    <% end %>
      <%= link_to root_path, class: "d-flex align-items-center mb-3  px-3 py-1 rounded-pill", style: 'width: fit-content;' do%>
        <span class="me-3"><%= image_tag "home.png", style:"height: 22px;position: relative;bottom: 3px;"%></span>Home
    <% end %>
    <%= link_to root_path, class: "d-flex align-items-center mb-3  px-3 py-1 rounded-pill", style: 'width: fit-content;' do%>
        <span class="me-3"><%= image_tag "hash.png", style:"height: 22px;position: relative;bottom: 3px;"%></span>Explore
    <% end %>
    <%= link_to root_path, class: "d-flex align-items-center mb-3  px-3 py-1 rounded-pill", style: 'width: fit-content;' do%>
        <span class="me-3"><%= image_tag "bell.png", style:"height: 22px;position: relative;bottom: 3px;"%></span>Notifications
    <% end %>
    <%= link_to root_path, class: "d-flex align-items-center mb-3  px-3 py-1 rounded-pill", style: 'width: fit-content;' do%>
        <span class="me-3"><%= image_tag "email.png", style:"height: 22px;position: relative;bottom: 3px;"%></span>Messages
    <% end %>
    <%= link_to root_path, class: "d-flex align-items-center mb-3  px-3 py-1 rounded-pill", style: 'width: fit-content;' do%>
        <span class="me-3"><%= image_tag "bookmark-white.png", style:"height: 22px;position: relative;bottom: 3px;"%></span>Bookmark
    <% end %>
    <%= link_to root_path, class: "d-flex align-items-center mb-3  px-3 py-1 rounded-pill", style: 'width: fit-content;' do%>
        <span class="me-3"><%= image_tag "user.png", style:"height: 22px;position: relative;bottom: 3px;"%></span>Profile
    <% end %>
    <%= link_to root_path, class: "d-flex align-items-center mb-3  px-3 py-1 rounded-pill", style: 'width: fit-content;' do%>
        <span class="me-3"><%= image_tag "more.png", style:"height: 22px;position: relative;bottom: 3px;"%></span>More
    <% end %>
    <%= link_to root_path, class: "d-flex align-items-center mb-3 rounded-pill", style: 'width: 40%;', data: {"bs-toggle": "modal", "bs-target": "#exampleModal"} do%>
      <span class="me-3"><%= button_tag "Tweet", class:"btn btn-twitter btn-rounded-pill", style:"width: 169px;border-radius: 20px;"%></span>
    <% end %>
    <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: 'btn btn-primary btn-lg'%> 
</aside>


<!--Tweet-Modal -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 p-2 px-3" style="font-size: 12px;">
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= form_with model: Tweet.new, url: tweets_path,method: :post, class: 'form text-center', local: :true do |f|%>
            <div class="row">
                <div class="col-1">
                    <%= image_tag "man.png", class: "rounded-circle", style: 'height: 40px;'%>
                </div>
                <div class="col-11">
                    <%= f.text_area :body , class: 'form-control tweet-input width-100', placeholder: "What's on your mind?"%>
                </div>
              </div>
                <div class="text-end">
                    <%= f.submit 'Tweet', class: "btn btn-primary btn-twitter rounded-pill" %>
                </div>
            <% end %>
      </div>
    </div>
  </div>
</div>
